body {
    margin: 0;
    background-color: #7693A6;
}

header {
    width: 100%;
    height: 130px;
    top: 0px;
    display: flex;
    background-color:  white;
}
.logo {
    height: auto;
    width: auto;
}
.navegacion {
    width: 100%;
}

.lista-nav li {
    display: inline;
    font-size: 20px;
    padding: 40px;
    line-height: 150px;
}
.foto {
    width: 100%;
}
.inicio{
    width: 100%;
}
.titulo {
    position: absolute;
    width: 400px;
    height: 50px;
    margin-left: 36%;
    line-height: 30px;
    font-size: 50px;
}
.biografia{
    width: 100%;
    text-align: center;

}
.titulo-biografia{
    font-size: 30px;
}
.texto-biografia{
    width: 1200px;
   margin-left: 5%;
   font-size: 20px;
   text-align: justify;

}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 270px;

}

.text-footer {
    padding-top: 20px;
}